<header-drawer data-breakpoint="tablet">
  <details class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link link--text focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="header__icon-wrapper">
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>

    {% render 'header-inline-menu', section: section %}
  </details>
</header-drawer>
