@import 'tools';

footer.footer {
    .container {
        @include media('spc') {
            padding-left: vmspc(20) !important;
            padding-right: vmspc(20) !important;
        }
        @include media('pc') {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}