@import "tools";

.pc {display:block;}
.mb {display:none;}
@media screen and (max-width: 1151.98px) {
	.pc {display:none;}
	.mb {display:block;}
}


.header-v2.new-design {
    --nav-light-color: #fff;
    --nav-dark-color: var(--color-foreground);
    --dropdown-bg-color: #fff;
    --nav-theme-color:rgb(var(--color-background-secondary));
    --pc-tab-content-height:800px;
    --mob-min-height:59px;
    --mob-bg-color: #fff;
    --mob-border-color: #D9D9D9;
    --mob-icon-color: #fff;
    --mob-text-color: #292829;
    --mob-nav-item-padding-x: 0.7rem;
    --mob-nav-item-padding-y: 0;
    --mob-second-wrapper-padding-start: 1rem;
    --transition-cubic-bezier: cubic-bezier(.48, .04, .52, .96);
    --transition-time: .2s;
    /* font-family: "Brand-content"; */
    display: flex !important;
}
@media screen and (max-width: 1151.98px) {
    .header-v2.new-design {
        --mob-nav-item-padding-x: 0.5rem;
    }
}

header-nav a {
    text-decoration: unset;
}

@media(max-width: 1151.98px) {
    .header-v2 .site-header-v2 .site-header-container .mb-header-items {
        min-height: var(--mob-min-height);
    }
    .site-header-v2 .navbar-toggler .hamburger-box-wrapper .hamburger-box {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }
    .header-v2 .site-header-v2 .navbar-toggler .hamburger-box-wrapper .hamburger-box::before {
        border-top: 2px solid;
        width: 20px;
        border-color: #fff;
    }
    .header-v2 .site-header-v2[data-expand=false] .navbar-toggler .hamburger-box-wrapper .hamburger-box::before {
        border-top-width: 3px;
    }
    .header-v2 .site-header-v2 .hamburger-box:nth-child(2)::before {
        width: 16px !important;
        transform: translateX(4px);
    }
    .header-v2 .site-header-v2[data-expand=false] .hamburger-box:nth-child(1)::before {
        transform: rotate(45deg);
        width: 22px;
    }
    
    .header-v2 .site-header-v2[data-expand=false] .hamburger-box:nth-child(2) {
        opacity: 0
    }
    .header-v2 .site-header-v2[data-expand=false] .hamburger-box:nth-child(3) {
        transform: translateY(-9px);
    }
    .header-v2 .site-header-v2[data-expand=false] .hamburger-box:nth-child(3)::before {
        transform: rotate(-45deg);
        width: 22px;
    }
}

header-nav img {
    max-width: 100%;
    height:auto;
}

/* PC端导航栏样式 */
@media(min-width: 1152px){
    .header-v2 header-nav a {
        color:var(--nav-dark-color);
    }

    .header-v2 .site-header-v2 .nav-item {
        border-bottom: none;
        padding: var(--mob-nav-item-padding-y) var(--mob-nav-item-padding-x);
    }

    .header-v2 .site-header-v2 .nav-link {
        padding:0;
    }

    header-nav .top-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header-nav .top-level-title {
        font-size: 15px;
        color: var(--nav-dark-color);
        /* font-family: Brand; */
        font-weight: 700;
    }
    header-nav .top-menu-item {
        padding: 2.5rem 20px;
    }

    header-nav .has-child:not(.mega-menu-type) {
        position: relative;
    }
    header-nav .top-menu-item .link-title {
        position: relative;
    }
    
    header-nav .as-dropdown .dropdown-area {
        --mm-dropdown-pd:1.3rem;
        --mm-dropdown-width:205px;
        display: block;
        bottom: 0;
        left: 0;
        opacity: 0;
        height: 0;
        transform: translateY(100%);
        position: absolute;
        /* overflow: hidden; */
        /* transition: opacity .2s ease, height .2s ease; */
        background: var(--dropdown-bg-color);
        width: 100%;
        padding: var(--mm-dropdown-pd);
        pointer-events: none;
    }
    @media (any-hover: hover) {
        header-nav .as-dropdown:hover .dropdown-area {
            opacity: 1;
            height: auto;
            pointer-events: all;
        }
        header-nav .as-dropdown.open .dropdown-area {
            opacity: 1;
            height: auto;
            pointer-events: all;
        }
        header-nav .top-menu-item:hover .link-title::after {
            content: '';
            width: 30px;
            display: block;
            height: 3px;
            background:var(--nav-theme-color);
            position: absolute;
            bottom: -0.4rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    header-nav .as-dropdown .mega-menu__container.dropdown-area {
        padding: 30px 40px;
        background-color: rgb(var(--color-background));
        box-shadow: 0 8px 40px rgba(var(--color-shadow), .08);
        border-radius: 1.2rem;
    }

    header-nav .as-dropdown .child-menu {
        min-width: var(--mm-dropdown-width);
        background-color: rgb(var(--color-background));
        box-shadow: 0 8px 40px rgba(var(--color-shadow), .08);
        border-radius: 1.2rem;
        /* transform: translate(-50%, 100%) !important;
        left: 50%; */
    }


    header-nav .child-menu-item a {
        min-height: 35px;
        padding: 0.9rem 1.3rem;
        display: flex;
        text-transform: capitalize;
        font-weight: bold;
        /* font-family: "Brand-content"; */
    }
    header-nav .child-menu-item:hover > a,
    header-nav .grand-menu-item:hover > a {
        background-color: var(--nav-theme-color);
        /* color:var(--nav-light-color); */
    }

    /* product list */
    
    header-nav .mega-menu__container .tab-layout {
        display: flex;
        column-gap: 4rem;
    }

    header-nav .mega-menu__container .tab-header .th-title {
        color:var(--nav-dark-color);
    }

    header-nav .mega-menu__container .tab-header {
        flex:0 0 20%;
        max-width: 20%;
        position: relative;
    }
    header-nav .mega-menu__container .tab-content {
        flex:0 0 calc(100% - 20% - 4rem);
        max-width: calc(100% - 20% - 4rem);
        display: block;
    }

    header-nav .mega-menu-item {
        display: none;
    }
    header-nav .mega-menu-item.active {
        display: block;
    }
    header-nav .mm-item__product-area {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    header-nav .mm-item__product-item {
        width:230px;
        height:280px;
        background: #F8F8F8;
        padding: 0;
        position: relative;
        border-radius: 10px;
    }
    header-nav .product-image img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    header-nav .mm-item__product-item .pro-info {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }
    header-nav .mm-item__product-item .product-tip {
        font-size: 12px;
    }
    /* header-nav .mm-item_main {
        overflow: hidden;
        overflow-y: auto;
        max-height: min(55vh, 450px);
    } */
    header-nav .product-title {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 6px;
        margin-top: 3px;
    }
    header-nav .product-price-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    header-nav .product-price-box .p-price {
        font-size: 16px;
        font-weight: 700;
    }
    header-nav .product-price-box .p-price-at {
        font-size: 12px;
        color: #737373;
        text-decoration: line-through;
    }




    header-nav .tab-header .item,
    header-nav .tab-header .additional-link {
        min-height: 58px;
        padding: 0 15px;
        background-color: var(--nav-theme-color);
        display: flex;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 15px;
        color: #777;
    }
    header-nav .tab-header .item.active,
    header-nav .tab-header .item.active a {
        background-color: #E7E7E7;
        color: #000;
        /* color:var(--nav-light-color); */
    }
    header-nav .tab-header .item a {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    header-nav .hr-line {
        margin: 20px 0;
        height: 2px;
        background: #e7e7e7;
    }

    header-nav .block-icon {
        max-width: 18px;
        margin-left: 15px;
    }
    header-nav .tab-header .additional-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        min-height: 50px;
    }
    
    header-nav .tab-header .additional-link:hover {
        background-color: #E7E7E7;
        color: #000;
        /* color:var(--nav-light-color); */
    }
    header-nav .tab-header .additional-link a {
        width:100%;
        display:block;
    }
    header-nav .tab-header .additional-link .addi-icon {
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
    }
    header-nav .tab-header .additional-link svg.icon-caret {
        width: 20px;
        height: 14px;
        flex: 0 0 20px;
    }

    .header-v2 .mm-item__bottom_bar .btn-items {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }
    .header-v2 header-nav .mm-btn-item a {
        border: 1px solid var(--nav-theme-color);
        display: inline-flex;
        height: 42px;
        min-width: 140px;
        justify-content: center;
        align-items: center;
        color: var(--nav-theme-color);
    }
    .header-v2 header-nav .mm-btn-item a:hover {
        background-color: var(--nav-theme-color);
        color:var(--nav-light-color);
    }

    

    header-nav .default-menu .mm-child {
        display: none;
    }
    header-nav .default-menu .child-menu-item:hover .mm-child {
        display: block;
        position: absolute;
        right: calc(calc(var(--mm-dropdown-width) * -1) + calc(var(--mm-dropdown-pd)) - 1px);
        top: 0;
        padding: var(--mm-dropdown-pd);
        background: #fff;
        width: var(--mm-dropdown-width);
        min-height: 100%;
        max-height: 41vh;
        overflow: hidden;
        overflow-y: auto;
    }
    header-nav .menu-item-list.over{
        border-right:1px solid rgb(0 0 0 / 20%);
    }
    
    .mm-item_main-layout {
        position: relative;
    }
    .has-scroll .mm-item_main-layout::after {
        content: "";
        pointer-events: none;
        position: absolute;
        bottom: -1px;
        left: 0;
        transition: height .25s ease;
        height: 14%;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
        background-clip: content-box;
    }
    .has-scroll.is-scroll-bottom .mm-item_main-layout::after {
        display: none;
    }

    

}
header-nav .mm-item__menu a.menu-child-menu-title .illy {
    position: relative;
    display: flex;
}
header-nav .mm-item__menu i.icon_label {
    flex: 0 0 32px;
    max-width: 32px;
    height: 14px;
    border: 1px solid red;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    line-height: 14px;
    color: #fff;
    background: red;
    margin-left: 5px;
    position: relative;
    display: block;
    text-align: center;
}

@media(min-width: 1152px)and (max-width: 1450px) {
    /* header-nav .top-level-title,
    header-nav .tab-header .item,
    header-nav .mm-item__menu .mm-menu-title,
    header-nav .mm-item__menu a.menu-child-menu-title {
        font-size:.875em
    } */
    header-nav .top-menu-item {
        padding: 1.5rem 20px;
    }

    header-nav .mm-item_main {
        max-height: 50vh;
    }
}

/* MB端导航栏样式 */
@media(max-width: 1151.98px) {
    .header-v2 ul li a {
        color: unset;
    }
    header-nav a {
        color: #777;
        display: block;
    }
    /* ========= js-expand 样式 ========= */
    .js-expand-parent .js-expand-header {
        --icon-length: 16px;
        --icon-stroke: 2px;
        --icon-fill: #000;
        position: relative;
        width: 100%;
        display: block;
    }
    
    .js-expand-parent .js-expand-content {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.2s ease;
    }
    .js-expand-parent.mb-active > .js-expand-content {
        grid-template-rows: 1fr;
    }
    .js-expand-parent .js-expand-content-overflow {
        min-height: 0;
        overflow: hidden;
    }
    /* ========= js-expand 样式 ========= */

    .js_allow_redirect a {
        width: 100%;
        display: block;
    }

    header-nav {
        z-index: 1000;
        background:#fff;
        position: fixed;
        left: 0;
        top: var(--mob-min-height);
        width: 100%;
        height: 100vh;
        visibility: hidden;
        opacity: 0;
    }
    header-nav .top-menu.menu-level-1 {
        /* padding: 20px 0; */
        height: calc(100% - 100px);
        overflow: auto;
    }
    
    .menu-opening header-nav {
        visibility: visible;
        opacity: 1;
    }

    header .header__icon .icon {
        width: 2rem;
        height: 2rem;
    }

    header-nav .header-item a {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    header-nav .hr-line {
        margin: 10px 0;
        height: 2px;
        background: #e7e7e7;
    }

    header-nav .top-menu-item .link-title {
        position:relative;
        padding: 1.6rem 15px;
    }
    header-nav .top-menu-item .link-title:after {
        content:'';
        width:calc(100% - 30px);
        height:1px;
        background:var(--mob-border-color);
        left:15px;
        bottom:0;
        position:absolute;
    }
    header-nav .top-menu-item.mb-active .link-title:after {
        display:none;
    }
    header-nav .top-menu-item:last-child .link-title:after {
        display:none;
    }

    header-nav svg.child-arrow {
        transition: all .3s ease;
        transform: rotate(0deg);
        width: 14px;
        height: 14px;
    }
    header-nav .mb-active > .link-title svg.child-arrow {
        transform: rotate(90deg);
    }
    header-nav .mb-active .mb-active svg.child-arrow {
        transform: rotate(90deg);
    }
    header-nav .mb-active .mb-active .th-title {
        color:#000;
    }

    header-nav .mb.header-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header-nav .child-menu, 
    header-nav .mega-menu__container {
        padding: 0 15px;
        background: #f4f4f4;
    }

    .site-header-v2[data-expand=false] header-nav {
        height: calc(100vh - var(--mob-min-height));
        overflow-y: scroll;
        pointer-events: auto;
        padding: 0 1.25rem;
    }

    .header-v2 .site-header-v2 .nav-item {
        border-bottom: none;
    }
    .header-v2 .site-header-v2 .navbar-toggler {
        padding: 0;
    }
    .mega-menu__container .tab-header {
        display: none;
    }
    .site-header-v2 .nav-item {
        border-bottom: 1px solid var(--mob-border-color);
        padding: var(--mob-nav-item-padding-y) var(--mob-nav-item-padding-x);
    }
    
    
    header-nav a.menu__link.top-level-link {
        font-size: 16px;
        color: #000;
        font-weight: 600;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header-nav .item-line-pd {
        padding: 0.8rem 0;
    }
    header-nav .tab-content,
    header-nav .child-menu-inner,
    header-nav .mm-child-list {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    header-nav .tab-content {
        display: block;
    }
    header-nav .mm-item_main {
        padding-top: 2rem;
    }
    header-nav .type_menu .mm-item_main  {
        padding-top: 0.4rem;
    }
    header-nav .mm-item__menu .mm-menu-list:last-child {
        padding-bottom: 0;
    }

    header-nav .mm-item__product-area {
        --pl-gap:1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: var(--pl-gap);
    }
    header-nav .mm-item__product-area .mm-item__product-item {
        flex: 0 0 100%;
        max-width: 100%;
        background: #e7e7e7;
        padding: 0;
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        border-radius: 10px;
    }
    header-nav .mm-item__product-item a {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    header-nav  .mm-item__product-item .product-image {
        flex:0 0 45%;
        max-width:45%;
    }
    header-nav  .mm-item__product-item .pro-info {
        flex:0 0 50%;
        max-width:50%;
    }
    header-nav .mm-item__product-item .product-tip {
        font-size: 12px;
    }
    header-nav .product-title {
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 6px;
        margin-top: 3px;
    }
    header-nav .product-price-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    header-nav .product-price-box .p-price {
        font-size: 14px;
        font-weight: 700;
    }
    header-nav .product-price-box .p-price-at {
        font-size: 12px;
        color: #737373;
        text-decoration: line-through;
    }

    header-nav .mm-item__bottom_bar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    header-nav .mm-item__bottom_bar .btn-items {
        display: flex;
        gap: 1rem;
    }
    header-nav .mm-item__bottom_bar .mm-btn-item a,
    header-nav .view-all-btn a {
        text-decoration: underline;
        color: var(--nav-theme-color) !important;
        text-underline-offset: 3px;
        font-size: 16px;
    }

    .header-v2 .mm-item__menu a.menu-child-menu-title {
        color: rgb(0 0 0 / 70%);
        font-size: 16px;
    }
    header-nav .th-title {
        font-size: 15px;
        text-transform: capitalize;
        color: #777;
    }
    header-nav .mm-child-list {
        padding-bottom: 1rem;
    }
    header-nav .type_menu .mm-child-item {
        padding: 0.7rem 0;
    }


    header-nav .grand-menu-list {
        padding-left: 8px;
    }
    header-nav .grand-menu-inner {
        padding-top: 0.5rem;
    }
    header-nav .grand-menu-item.level-3 a {
        padding: 0.7rem 0;
        display: flex;
        text-transform: capitalize;
        color: rgb(0 0 0 / 70%);
        font-size: 16px;
    }
    header-nav .child-menu-item {
        font-size: 15px;
        text-transform: capitalize;
    }
    header-nav .mm-item__menu i.icon_label {
        top: 2px;
    }
    header-nav .top-level-title {
        font-size: 16px;
        text-transform: uppercase;
    }


    header-nav .block-icon {
        max-width: 14px;
        margin-left: 10px;
    }
    header-nav .tab-content .additional-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        min-height: 40px;
    }
    
    header-nav .tab-content .additional-link:hover {
        background-color: #E7E7E7;
        color: #000;
        /* color:var(--nav-light-color); */
    }
    header-nav .tab-content .additional-link a {
        width:100%;
        display:block;
        text-align: left;
    }
    header-nav .tab-content .additional-link .addi-icon {
        width: 14px;
        height: 14px;
        flex: 0 0 14px;
    }
    header-nav .tab-content .additional-link svg.icon-caret {
        width: 14px;
        height: 14px;
        flex: 0 0 14px;
    }
} 


.header-v2 header-nav {
    .top-level-link {
        position: relative;

        img.menu-item-icon {
            position: absolute;
            left: vm(-5);
            transform: translateX(-100%);
            width: vm(12);

            @include media-min('spc') {
                width: vmpc(15);
                left: vmpc(-5);
            }
        }
    }
}