@import "tools";

body.template-page {
    .multicolumn-section {
        .multicolumn {
            padding: vm(40) vm(20) vm(30) !important;
            @include media-min('spc') {
                padding: vmpc(70) 0 !important;
            }
    
            .container {
                padding: 0;
            }
    
            .multicolumn__title {
                font-size: vm(32);
                line-height: vm(34);
                font-weight: 700;
                text-align: center;
                margin-bottom: vm(35);
                @include media-min('spc') {
                    font-size: vmpc(56);
                    line-height: vmpc(58);
                    margin-bottom: vmpc(60);
                }
            }
    
            .multicolumn__description {
                font-size: vm(18);
                line-height: vm(22);
                font-weight: 400;
                text-align: left;
                margin: 0;
                max-width: 100%;
                color: #524842;
                @include media-min('spc') {
                    font-size: vmpc(22);
                    line-height: vmpc(28);
                }
            }
        }
    
    
        .multicolumn.whd-section2 {
            --gradient-background: #F6F1EA;
    
            .multicolumn__title {
                margin-bottom: vm(20);
                @include media-min('spc') {
                    margin-bottom: vmpc(30);
                }
            }
    
            .multicolumn-list__wrapper {
                margin-top: vm(35);
                @include media-min('spc') {
                    margin-top: vmpc(60);
                }
            }
    
            .multicolumn-card__text {
                color: #524842 !important;
            }
            .multicolumn__description {
                text-align: center;
            }
    
    
            @include media-max('spc') {
                .multicolumn-list__wrapper {
                    overflow: auto;
                    display: flex;
    
                    .multicolumn-card {
                        width: 100%;
                        flex: 0 0 75vw;
                    }
                }
            }
            
        }
    }
    
    
    
    .custom-collapsible-image {
        background-color: #FFFEFB !important;


        .section-title.hidden-mobile {
            display: none !important;
        }

        .section-title.hidden-desktop {
            display: block !important;
        }

        .section-title h2 {
            text-align: center !important;
        }
    }
    
    
    .custom-image-with-text {
        background-color: #F6F1EA !important;
    }
    
    
    .custom-our-service-v2 {
        background: #FFFEFB !important;

        .section-title {
            margin-bottom: vm(35);
            @include media-min('spc') {
                margin-bottom: vmpc(60);
            }
        }

        .our-service-items {
            gap: vm(20);
            @include media-min('spc') {
                gap: vmpc(40);
            }

            .item {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: vm(10) vm(20);
                box-shadow: 0px 4px 8px 0px #00000026;
                padding: vm(20);
                border-radius: vm(12);
                @include media-min('spc') {
                    gap: vmpc(20);
                    flex: 0 0 calc(100% / 3 - 2/3*vmpc(40)) !important;
                    max-width: calc(100% / 3 - 2/3*vmpc(40)) !important;
                    padding: vmpc(50) vmpc(20);
                    border-radius: vmpc(12);
                    min-height: vmpc(440);
                }

                .image {
                    flex: 0 0 vm(50);
                    max-width: vm(50);
                    margin: 0;
                    @include media-min('spc') {
                        max-width: vmpc(100);
                    }
                }

                .title {
                    flex: 0 0 calc(100% - vm(50) - vm(20));
                    max-width: calc(100% - vm(50) - vm(20));
                    text-align: left;
                    color: #000000;
                    font-weight: 700;
                    margin: 0;
                    @include media-min('spc') {
                        flex: 0 0 100% !important;
                        max-width: 100% !important;
                        font-size: vmpc(22);
                        line-height: vmpc(26);
                    }
                }

                .info {
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                    display: block !important;
                    text-align: left;
                    font-size: vm(18);
                    line-height: vm(22);
                    font-weight: 400;
                    color: #524842;

                    @include media-min('spc') {
                        font-size: vmpc(22);
                        line-height: vmpc(28);
                    }
                }
            }
        }
    }
}
