{% layout 'theme.cs' %}

<div style="max-width: 700px; margin: 2rem auto;">
  <iframe 
    src="https://www.cognitoforms.com/f/5D0yDPgJOkuyxhr6IjdDJA/2" 
    allow="payment" 
    style="border:0;width:100%;" 
    height="860">
  </iframe>
  <script src="https://www.cognitoforms.com/f/iframe.js"></script>
</div>
